.label {
    margin-top: 1rem;
    width: 100%;
}

.label > * {
    width: 100%;
}

.label > input {
    border-radius: 0.5ch;
}

.description {
    display: block;
}

.hint,.warning {
    display: block;
    font-size: 0.8rem;
}

.warning {
    color: red;
    font-weight: bold;
}