.form {
    display: flex;
    flex-direction: column;

    width: 90ch;
    max-width: calc(100% - 2ch);

    margin: 0 auto;
}

.form > button {
    margin-top: 2rem;
}

.submitRow {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2ch;
}